#header {
    display: flex;
    background: #6F6AF7;
    justify-content: space-between;
    align-items: center; /* Centers along the cross axis */
    height: 60px; /* Set a height for demonstration */
    float: left;
    width: 60%;
  }
  body{
    margin: 0;
 }
 .headertext{
    color: white;
    font-size: 20px;
    font-family: DM Sans;
    margin-left: 10px;
 
 }
 #dapper{
    color: white;
    font-size: 30px;
    font-family: Delius Unicase;
    margin-left: 20px;
  
 }
 #dapperDiv{
    display: flex;
    background: #6F6AF7;
    float: left;
    height: 60px;
    align-items: center;
    width: 20%;
 }
 #headerLast{
    display: flex;
    background: #6F6AF7;
    float: left;
    justify-content: right;
    height: 60px;
    align-items: center;
    width: 20%;
 }
 form {
    display: flex;
    margin-left: 25px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
  }
  input[type="search"] {
    border: none;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
#vector{
    height: 26px;
    width: 26px;
    margin-right: 40px;
}
#imgDiv{
   width: 22%;
   float: left;
   margin-top: 40px;
   height: 400px;
 }
  #paradiv{
   width: 66%;
   float: left;
   height: 400px;
   background: #E5D8FF;
   margin-top: 40px;
   border-radius: 12px;
 }
 #paraText{
    padding-left: 30px;
    padding-top: 10px;
    color: #6F7373;
 }
  #multiImgDiv{

   width: 6%;
   float: left;
   margin-top: 40px;
 }
 #divMargin{
    width: 4%;
    height: 100px;
    margin-top: 40px;
    float: left;
 }
 #whatsapp{
    border: 2px solid #090909;
    border-radius: 7px;
 }
 ul {
    text-align: right;
    list-style: none; 
    margin-top: 60px;

 }
 #divSpace{
    width: 2%;
    height: 100px;
    margin-top: 40px;
    float: left;
 }
 #divR1{
    float: left;
    border-radius: 8px;
    padding-left: 3px;
    padding-right: 12px;
    border-radius: 8px;
    margin-top: 60px;
    width: 150px;
    background:#929DFF;
    
 }
 #divR2{
    float: left;
    background: #734CF2;
    padding-left: 3px;
    margin-top: 60px;
    width: 150px;
    padding-right: 12px;
    border-radius: 8px;
 }
 #divR3{
    float: left;
    background: #D288FF;
    border-radius: 8px;
    padding-left: 3px;
    margin-top: 60px;
    width: 150px;
    padding-right: 12px;
    border-radius: 8px;
 }
 #divR4{
    float: left;
    border-radius: 8px;
    width: 150px;
    padding-left: 3px;
    background: #000;
    margin-top: 60px;
    padding-right: 12px;
    border-radius: 8px;
 }
 #divMain {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .spanChild{
    color: white;
    margin: 10px;
    font-size: 15px;
    font-family: DM Sans;
  }
  #footer{
    width: 90%;
    height: 400px;
    background: gray;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    background: #483EFF;
    border-radius: 12px;
    margin-bottom: 30px;
    margin-top: 40px;
  }
#textsDiv{
    float: left;
    width: 74%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 30px;
    background: white;
    border-radius: 12px;
    margin-top: 16px;
    position: relative;
}
  #buttonDiv{
    float: left;
    display: flex;
    height: 80%;
    flex-direction: column;
     margin-top: 50px;
     margin-left: 30px;
    justify-content: space-between;
    width: 20%;
}
#btn1{
    height: 50px;
    border-radius: 8px;
    border: none;
    background: #BCE0F6;
    font-size: 15px;
}
#btn2{
    height: 50px;
    border-radius: 8px;
    border: 3px solid #f4f1f1;
    background: #483EFF;
    font-size: 15px;
    color: white;
}
#btn3{
    height: 50px;
    border-radius: 8px;
    border: 3px solid #f4f1f1;
    background: #483EFF;
    font-size: 15px;
    color: white;
}
#nextBtn{
    background: black;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    text-align: right;
    position: absolute;
  bottom: 5px;
  right: 0px;
  margin: 20px;
}